<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.4/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="false"
         strict="true">
    <testsuites>
        <testsuite name="Sphace">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>